.app-sidebar,.inputbusquedas,.navbar,.card-title,footer{
	display: none;
}
#tbCorte{
	padding: 0px;
}
#sample_2 td{
    font-size: 13px;
}
#sample_2 th{
    font-size: 13px;
}
.card {
    border: 0px;
}